"*":
  "atom-beautify":
    crystal:
      beautify_on_save: false
    css:
      beautify_on_save: false
    general:
      beautifyEntireFileOnSave: false
    html:
      beautify_on_save: false
    js:
      disabled: true
    jsx:
      disabled: true
    markdown: {}
    nginx:
      beautify_on_save: false
    python:
      default_beautifier: "yapf"
    ruby:
      default_beautifier: "Ruby Beautify"
  "atom-ide-ui":
    use: {}
  "autocomplete-modules":
    babelPluginModuleResolver: true
    webpack: true
  "autocomplete-python":
    useKite: false
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    panelDisplayMode: "closed"
    test:
      coverageHighlightMode: "disabled"
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  "ide-python":
    pylsPlugins:
      jedi_hover:
        enabled: false
      jedi_references: {}
      pycodestyle:
        maxLineLength: 100
  "linter-eslint":
    useGlobalEslint: true
  "linter-flake8":
    maxLineLength: 100
  "linter-pydocstyle": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  stylefmt:
    formatOnSave: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".js.jsx.react.source":
  editor:
    autoIndent: true
".js.jsx.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
